* {
  margin: 0;
  padding: 0;
}

#main {
  padding-top: 150px;
}


@media (min-width: 700px) {

  #header {
    height: 100px;
    line-height: 100px;
    color: rgb(255, 255, 255);
    background-color: rgb(52, 152, 219);
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    z-index: 100;
    display: flex;
    width: 100%;
    box-shadow: 0px 0px 15px 1px black;
    justify-content: space-between;
  }

  #titulo-header {
    margin-left: 20px;
  }

  #nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    gap: 30px;

  }

  #nav-ul {
    margin-right: 20px;
  }

  .a-menu,
  .a-menu::before,
  a.a-menu::selection {
    color: rgb(231, 230, 230);
    text-decoration: none;
  }

  .a-menu:hover {
    color: white;
  }

  section {
    font-family: arial;
    margin-top: 5px;
    margin-top: 50px;
  }

  #containerFondo {
    background-image: url("/img/peakpx.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px 5px gray;
  }

  .blur {
    background-color: rgba(52, 152, 219, 0.726);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 5px rgba(52, 152, 219, 0.726);
  }

  .articuloIntroduccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px 50px;
    padding: 50px;
    min-height: 300px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  #tituloIntroduccion {
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    text-align: center;
    font-family: sans-serif;
    font-size: 3em;
  }

  #spanIntroduccion {
    text-align: justify;
    font-size: 1.5em;
    color: white;
  }

  .cardsContainer {
    margin-top: 150px;
    padding-top: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(247, 247, 247, 0.808);
    box-shadow: 0px 0px 10px 5px lightgray;
  }

  .tituloTecnologias {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 50px;
    font-size: 3em;
    font-weight: 200;
    color: rgb(52, 152, 219);
  }

  .tituloLenguajes {
    text-align: center;
    color: rgb(3, 4, 5);
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px 40px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 30%;
    max-width: 500px;
    min-width: 300px;
    box-shadow: 0px 0px 10px 0px gray;
    padding: 10px;
    gap: 20px;
  }

  .imagenTecnologias {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-bottom: 1px solid gray;
    justify-items: center;
    padding-bottom: 10px;
  }

  .descripcionTecnologias {
    width: 95%;
    justify-content: center;
    text-align: justify;
    padding: 10px;
  }

  #cardhtml {
    box-shadow: 0px 0px 10px 3px rgb(255, 123, 0);
    background-color: rgba(255, 123, 0, 0.333);
  }

  #cardcss {
    box-shadow: 0px 0px 10px 3px rgb(0, 162, 255);
    background-color: rgb(0, 162, 255, 0.333);
  }

  #cardhtml:hover {
    box-shadow: 0px 0px 10px 10px rgb(255, 123, 0);
  }

  #cardcss:hover {
    box-shadow: 0px 0px 10px 10px rgb(0, 162, 255);
  }

  .detalles {
    text-align: center;
  }

  .btnLenguajes {
    color: black;
    text-align: center;
    padding: 10px;
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
  }

  #btnhtml {
    background-color: rgb(255, 123, 0);
    color: white;
  }

  #btncss {
    background-color: rgb(0, 162, 255);
    color: white;
  }

  #btnhtml:hover {
    background-color: rgb(255, 123, 0);
    box-shadow: 0px 0px 5px 5px white;
    color: white;
  }

  #btncss:hover {
    background-color: rgb(0, 162, 255);
    box-shadow: 0px 0px 5px 5px white;
    color: white;
  }

  .aside {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    gap: 50px;
    box-shadow: 0px 0px 10px 10px lightgray;

  }

  #sponsor {
    text-align: center;
    margin-top: 50px;
    color: rgb(52, 152, 219);
    font-size: 2rem;
  }

  #sponsors {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 2px;
    margin-bottom: 50px;
  }

  .encapsulamieto {
    width: 40%;

  }

  #theBridgeLogo {
    width: 100%;
    background-color: rgb(35, 26, 53);
    background-size: cover;
  }

  #indraLOGO {
    width: 100%;
  }


  #footer {
    margin-top: 150px;
    background-color: lightgray;
  }

}




@media (max-width: 699px) {

  #header {
    height: 100px;
    color: rgb(255, 255, 255);
    background-color: rgb(52, 152, 219);
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 0px 15px 1px black;
    justify-content: center;
    column-gap: 20px;
  }

  #titulo-header {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }

  #nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    gap: 0px 20px;

  }

  .a-menu,
  .a-menu::before,
  a.a-menu::selection {
    color: rgb(231, 230, 230);
    text-decoration: none;
  }

  .a-menu:hover {
    color: white;
  }

  section {
    font-family: arial;
    margin-top: 5px;
    margin-top: 25px;
  }

  #containerFondo {
    background-image: url("/img/peakpx.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px 5px gray;
  }

  .blur {
    background-color: rgba(52, 152, 219, 0.726);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 5px rgba(52, 152, 219, 0.726);
  }

  .articuloIntroduccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  #tituloIntroduccion {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5em;
  }

  #spanIntroduccion {
    text-align: justify;
    font-size: 1.2em;
    color: white;
  }

  .cardsContainer {
    margin-top: 100px;
    padding-top: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(247, 247, 247, 0.808);
    box-shadow: 0px 0px 10px 5px lightgray;
  }

  .tituloTecnologias {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
    font-size: 2em;
    font-weight: 200;
    color: rgb(52, 152, 219);
  }

  .tituloLenguajes {
    text-align: center;
    color: rgb(3, 4, 5);
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    box-shadow: 0px 0px 10px 0px gray;
    padding: 10px;
    gap: 20px;
  }

  .imagenTecnologias {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-bottom: 1px solid gray;
    justify-items: center;
    padding-bottom: 10px;
  }

  #cardhtml {
    box-shadow: 0px 0px 10px 3px rgb(255, 123, 0);
    background-color: rgba(255, 123, 0, 0.333);
  }

  #cardcss {
    box-shadow: 0px 0px 10px 3px rgb(0, 162, 255);
    background-color: rgb(0, 162, 255, 0.333);
  }

  #cardhtml:hover {
    box-shadow: 0px 0px 10px 10px rgb(255, 123, 0);
  }

  #cardcss:hover {
    box-shadow: 0px 0px 10px 10px rgb(0, 162, 255);
  }

  .detalles {
    text-align: justify;
  }

  .detalles>summary {
    text-align: center;
    font-size: 1.2em;
    color: gray;
  }

  .detalles p {
    padding: 20px;
  }


  .btnLenguajes {
    color: black;
    text-align: center;
    padding: 10px;
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
  }

  #btnhtml {
    background-color: rgb(255, 123, 0);
    color: white;
  }

  #btncss {
    background-color: rgb(0, 162, 255);
    color: white;
  }

  #btnhtml:hover {
    background-color: rgb(255, 123, 0);
    box-shadow: 0px 0px 5px 5px white;
    color: white;
  }

  #btncss:hover {
    background-color: rgb(0, 162, 255);
    box-shadow: 0px 0px 5px 5px white;
    color: white;
  }

  .aside {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    gap: 50px;
    box-shadow: 0px 0px 10px 10px lightgray;

  }

  #sponsor {
    text-align: center;
    margin-top: 40px;
    color: rgb(52, 152, 219);
    font-size: 2rem;
  }

  #sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
  }

  .encapsulamieto {
    width: 90%;
  }

  #theBridgeLogo {
    width: 100%;
    background-color: rgb(35, 26, 53);
    background-size: cover;
  }

  #indraLOGO {
    width: 100%;
  }


  #footer {
    margin-top: 150px;
    background-color: lightgray;
  }



}