
#tituloBiografia{
    background-color:rgb(235, 235, 235);
    padding: 30px;
    margin-top: 30px;
    text-align: center;
    font-size: 3.5rem;
    color: rgb(52, 152, 219);
}

.section{
    display: flex;
    flex-direction: column;
}
.contendorArticle{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 100px;
    gap: 50px;
}

.article{
    width: 40%;
    justify-items: center;
    align-content:center;
    display: flex;
    flex-direction: column;
    max-width:600px;
    min-width: 400px;
    box-shadow: 0px 0px 10px 5px gray;
}

.tituloArticulos{
    font-family: sans-serif;
    text-align: center;
    margin-top:40px;
    color:rgb(52, 152, 219) ;
}


.table{
    display: flex;
    justify-content:center;
    padding:30px;
}
.table th,td{
    border-bottom:1px solid rgba(52, 152, 219, 0.692); 
    font-family:sans-serif;
    padding: 20px;
    text-align:left;
}


@media (max-width:500px){

    .article{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
    }
}


