#main {
  padding-top: 100px;
  font-family: sans-serif, monospace, "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
}
.galeriaParapente {
  background-image: url(../img/fondoGaleria.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.fondoParapentes {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#tituloSectionParapente {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.301);
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 50px;
}
#videoParapente {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  
}
.video {
  box-shadow: 0px 0px ;
  box-shadow: 0px 0px 5px 1px white;
}

@media (max-width: 576px) {
  .articuloParapentes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;
    justify-content: center;
    padding: 7px;
  }
  .claseImg {
    box-shadow: 0px 0px 5px 1px white;
    width: 100%;
    max-width: 500px;
    min-width: none;
  }
  #videosIncrustadoParapente {
    padding: 5px;
  }
  #videosIncrustadoParapente iframe {
    width: 100%;
    height: 490px;
  }
}
@media (min-width: 576px) {
  .articuloParapentes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
    justify-content: center;
    padding: 50px;
  }
  .claseImg {
    box-shadow: 0px 0px 15px 1px white;
    width: 100%;
    max-width: 500px;
    min-width: none;
  }
  #videosIncrustadoParapente {
    padding: 5px;
    width: 550px;
  }
  #videosIncrustadoParapente > iframe {
    width: 100%;
    height: 350px;
  }
}

@media (min-width: 768px) {
  .articuloParapentes {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 40px;
    justify-content: center;
    padding: 20px;
  }
  .claseImg {
    box-shadow: 0px 0px 15px 1px white;
    width: 100%;
    max-width: 700px;
    min-width: none;
  }
  #videosIncrustadoParapente {
    padding: 5px;
    width: 730px;
  }
  #videosIncrustadoParapente iframe {
    width: 100%;
    height: 450px;
  }
}

@media (min-width: 992px) {
  .articuloParapentes {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
  }
  .claseImg {
    box-shadow: 0px 0px 10px 1px white;
    width: 44%;
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .articuloParapentes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
    justify-content: space-evenly;
  }
  .claseImg {
    box-shadow: 0px 0px 15px 1px white;
    width: 100%;
    max-width: 500px;
  }
}
